.controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: opacity .25s;
  opacity: .2;
}

.controls:hover,
.controls:focus-within {
  opacity: .8;
}
